
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Load
{
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Loading
{
  height: 20px;
  width: 20px;

  border: 10px solid rgb(15, 1, 1);
  border-radius: 100%;
  animation:  animate 5s linear infinite;
  margin: 350px 0 500px 0;
  text-align: center;
  line-height: 270px;
  
  font-weight: 600;
  color: rgb(5, 0, 10);
}
@keyframes animate
{
  100%{transform: rotate(360deg);}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
